.about {
  padding: 158px 0 71px
}

.about_inner {
  @include inner;
}

.about_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 115px;
  align-items: flex-start;
}

.about_desc {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about_content {
  margin-left: auto;
}

.about_visual {
  border-radius: 50%;
}

.about_title {
  font-family: $font;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}

.about_text {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
}

.about_btn a {
  display: inline-block;
  padding: 9px 20px;
  font-family: $font;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  text-decoration: none;
  color: #fff;
  background-color: $color-accent;
  border-radius: 2px;
}
