// Fonts
$font: 'Heebo', sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors

$color-accent: #FF6464;
$color-light: #EDF7FA;
$color-dark: #142850;
$color-black: #000;
$color-gray: #8695A4;
$color-text: #21243D;

// indents

// breakpoints

$mobile: 320px;
$tablet: 768px;
$desctop: 1280px;

$mobile-max: $tablet - 1px;
$tablet-max: $desctop - 1px;
